@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// ! Bootstrap alert pack

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    animation: loadNotify;
    animation-duration: .7s;
  }
  
  .alert h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .alert .alert-link {
    font-weight: bold;
  }
  
  .alert > p,
  .alert > ul {
    margin-bottom: 0;
  }
  
  .alert > p + p {
    margin-top: 5px;
  }
  
  .alert-dismissable,
  .alert-dismissible {
    padding-right: 35px;
  }
  
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .alert-success hr {
    border-top-color: #c9e2b3;
  }
  
  .alert-success .alert-link {
    color: #2b542c;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  
  .alert-info hr {
    border-top-color: #a6e1ec;
  }
  
  .alert-info .alert-link {
    color: #245269;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  
  .alert-warning hr {
    border-top-color: #f7e1b5;
  }
  
  .alert-warning .alert-link {
    color: #66512c;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  
  .alert-danger .alert-link {
    color: #843534;
  }


  @keyframes loadNotify {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }